@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
@layer base {
  :root {
    --color-primary-50: #faf5ff;
    --color-primary-100: #f3e8ff;
    --color-primary-200: #e9d5ff;
    --color-primary-300: #d8b4fe;
    --color-primary-400: #c084fc;
    --color-primary-500: #a855f7;
    --color-primary-600: #9333ea;
    --color-primary-700: #7c3aed;
    --color-primary-800: #6b21a8;
    --color-primary-900: #581c87;
}

  .bg-primary-50 {
    background-color: var(--color-primary-50) !important;
  }

  .bg-primary-100 {
    background-color: var(--color-primary-100) !important;
  }

  .bg-primary-200 {
    background-color: var(--color-primary-200) !important;
  }

  .bg-primary-300 {
    background-color: var(--color-primary-300) !important;
  }

  .bg-primary-400 {
    background-color: var(--color-primary-400) !important;
  }

  .bg-primary-500 {
    background-color: var(--color-primary-500) !important;
  }

  .bg-primary-600 {
    background-color: var(--color-primary-600) !important;
  }

  .bg-primary-700 {
    background-color: var(--color-primary-700) !important;
  }

  .bg-primary-800 {
    background-color: var(--color-primary-800) !important;
  }

  .bg-primary-900 {
    background-color: var(--color-primary-900) !important;
  }
}